<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Editar comentario</title>
</head>
<body>
  <section class="form-register">
    <h4>Comentario de la publicación "-----------"....</h4>
    <p>Comentario "-------------" </p>
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Nuevo comentario"> 
    <input class="botons" type="submit" value="Editar">
  </section>
</body>
</html>