{% extends "era/base.html" %}
{% block content %}
<h1>
    Ver publicacion
</h1>
<span vocab="https://schema.org/" typeof="Comment"></span>
<h2>Titulo</h2>
    <p><span property="name">{{Publicacion.titulo}}</span></p>
<h2>Descripcion</h2>
    <p><span property="articleBody">{{Publicacion.descripcion}}</span></p>
<h2>Fecha</h2>
    <p><span property="dateCreated">{{Publicacion.fecha}}</span></p>
<h2>Vistas</h2>
    <p>{{Publicacion.vistas}}</p>
<h2>Autor</h2>
    <p><span property="author">{{Publicacion.user}}</span></p>
{% endblock %}